# Python / uv
__pycache__/
*.pyc
.venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# OS / IDE
.DS_Store
.vscode/
.idea/


#Desafio_2/terraform/
Desafio_2/plan.md
Desafio_1/docs/sources/orbidi_technical_challenge.md
Desafio_1/docs/sources/guia_entrevista_tecnica_v2.md
